#garden-monitor > header {
  @apply flex flex-row;
  @apply p-6;
  @apply cursor-default;
  @apply bg-gray-100;
  @apply border;
}

#garden-monitor > section.content {
  @apply text-center cursor-default;
  @apply pt-16;
  
}

#garden-monitor > section.content > button.name {
  @apply inline-block;
  @apply bg-primary rounded;
  @apply hover:bg-blue-700;
  @apply w-auto py-3 px-6;
  @apply text-2xl font-semibold rounded;
}

#garden-monitor > section.content > .grid {
  @apply bg-base-300;
  @apply m-6 p-6;
  @apply grid-cols-1 gap-6 sm:grid-cols-4;
  @apply text-center rounded;
  @apply cursor-default;
  @apply shadow-2xl;
}

#garden-monitor > section.content > .dropdown {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
}

#garden-monitor > section.content > .dropdown li {
  padding: 8px 16px;
  cursor: pointer;
}

#garden-monitor > section.content > .dropdown li:hover {
  background-color: #f5f5f5;
}